<a href="https://colab.research.google.com/github/Layzafa/programacao_python/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for variavel in lista:
  print(variavel)

1
2
3
4
5
6
7
8
9
10

In [4]:
lista_com_tuplas = [(1, 2), (3, 4), (5, 6)]

for tupla in lista_com_tuplas:
  print(tupla)

(1, 2)
(3, 4)
(5, 6)

Tuple back

In [8]:
for (valor1, valor2) in lista_com_tuplas:
  print(valor1 , valor2)

1 2
3 4
5 6

In [17]:
dicionario = {'k1': 1, 'k2': 2, 'k3': 3}
for chave in dicionario.items():
  print(chave)

('k1', 1)
('k2', 2)
('k3', 3)

In [19]:
for chave, valor in dicionario:
  print(chave, ':', valor)

k : 1
k : 2
k : 3

In [22]:
for numero in range(10):
  print(numero + 1)

1
2
3
4
5
6
7
8
9
10

In [29]:
num = 0
while num < 10:
  num += 1
  print(num)

1
2
3
4
5
6
7
8
9
10

In [38]:
l = []
x = 1

while True:
  l += [x]
  x += 1

  if x > 10:
    break

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
y = 1

while y < 50:
  y += 1
  if y % 2 == 0:
    print(y)
  else:
    continue

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [48]:
a = list(range(0, 30, 1))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [51]:
b = list(range(25, 0, -1))
print(b)

[25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [54]:
c = list(range(0, 20, 2))
print(c)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]